.page {
    height: 100%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background: #202020;
  }


.logo {
  transition: opacity 0.6s;
}

.logo:hover {
  opacity: 0.8;
}

.link {
  color: #FFFFFF;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.link_active {
  font-weight: 500;
  position: relative;
  transition: opacity 0.6s;
}

.link:hover {
  opacity: 0.8;
}

.text-link {
  color: #000;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}

.text-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: background-color 0.3s;
}

.text-link:hover::before {
  background-color: transparent;
}