.movies-list__item {
  background: #222222;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 12px;
}
.movies-content__content {
  box-sizing: border-box;
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
}
.movies-list__name {
  margin: 0;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  color: #FFFFFF;
}

.movies-list__link {
  transition: color 0.6s;
  text-decoration: none;
}

.movies-list__link:hover {
  color: #3456f3;
}

.movies-list__duration {
  margin: 10px 0 0 0;
  font-size: 11px;
  line-height: 1.1;
  color: #a0a0a0;
}

.movies__image-container {
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.movies__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 134px;
  box-sizing: border-box;
  transition: transform 1s;
  position: relative;
  z-index: 1;
}

.movies-list__link-image {
  z-index: 3;
}

.movies__image:hover {
  transform: scale(0.9);
}

.movies-list__save {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: solid 2px #FFFFFF;
  background-color: #313131;
}

.movies-list__save:hover {
  transform: scale(1.2);
}

.movies-list__save_active {
  background-color: #2BE080;
}
.movies-list__delete {
  padding: 0;
  cursor: pointer;
  width: 14px;
  height: 12px;
  border: none;
  background-image: url('../../images/close.svg');
  transition: opacity 0.6s;
}
.movies-list__delete:hover {
  opacity: 0.7;
}
@media screen and (max-width: 540px) {
  .movies-list__item {
    grid-template-columns: auto;
    grid-template-rows: auto minmax(64px, auto);
    height: auto;
  }
  .movies__image-container {
    max-width: 520px;
    grid-row: 1;}

  .movies__image {
    height: 240px;
    padding: 0;
  }

  .movies-content__content {
    grid-template-rows: auto 14px;
    grid-template-columns: auto 12px;
    padding: 14px 16px 16px 12px;
    row-gap: 16px;
    align-items: center;
  }
  .movies-content__name {
    font-size: 12px;
    line-height: 1.25;
  }
  .movies-list__duration {
    margin: 0;
  }
  .movies-list__save {
    grid-column: -1 / -2;
    grid-row: 1;
  }

  .movies-list__delete {
    grid-column: -1 / -2;
    grid-row: 1;
  }
}
@media screen and (max-width: 400px) {
  .movies-list__item {
    grid-template-rows: auto minmax(64px, auto);
  }
  .movies__image {
    height: 164px;
  }
}
