.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 30px;
}

.menu__item:last-of-type {
  margin-right: 0;
}

.menu__button {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
}

.menu__button_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3DDC84;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.3s;
}

.menu__button_primary:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .header__container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 540px) {
  .header__container {
    width: calc(100% - 28px);
  }
}