.search {
    width: calc(100% - 140px);
    max-width: 1140px;
    margin: 0 auto 0 auto;
    padding: 70px 0 50px 0;
    display: flex;
    flex-direction: column;
}

.search__bar {
    height: 50px;
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #424242;
}

.search__icon {
    width: 34px;
    height: 34px;
}

.search__input {
    width: 100%;
    max-width: 1060px;
    background: transparent;
    border: none;
    font-size: 28px;
    line-height: 34px;
    color: #8B8B8B;
    text-align: center;
}

.search__button {
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
}

.search__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.search__error {
  color: #ee3465;
  font-size: 12px;
  line-height: 1.2;
  display: block;
  position: absolute;
  left: 50%;
  top: 208px;
  transform: translate(-50%, -50%);
}

.search__error_inactive {
  visibility: inherit;
}

.search__filter {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 18px;
}

.search__filter-checkbox {
    margin-right: 12px;
    width: 34px;
    height: 14px;
    border-radius: 20px;
    background-color: #3DDC84;
    appearance: none;
    position: relative;
    cursor: pointer;
}

.search__filter-checkbox::before {
    content: '';
    display: block;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
  }

  .search__filter-checkbox:checked::before {
    left: 22px;
  }

  @media screen and (max-width: 995px) {
    .search {
      width: calc(100% - 60px);
    }
  }

  @media screen and (max-width: 575px) {
    .search {
      width: calc(100% - 20px);
    }
  }