.info-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.info-tooltip__error {
  display: block;
  margin: 0;
  color: #ee3465;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}